<h2>Yo Shoppin Cart!</h2>

<table align="center" class="table table-bordered">

    <tr>
        <th>Item</th>
    </tr>
    @foreach (var items in ViewBag.Cart)
    {
    <tr>
        <td>@items.ItemName</td>
        <td><a href="/Home/RemoveItem?itemName=@items.ItemName">Remove from Cart</a></td>
    </tr>        
    }

</table>