<h2>Yo Shoppin Cart!</h2>

@foreach (var items in ViewBag.Cart)
{
    <ul>
        <li>@items.ItemName</li>
    </ul>
    <a href="/Home/RemoveItem?itemName=@items.ItemName">Remove from Cart</a>
    @*@Html.ActionLink("Cart","RemoveItem","Home")*@
}