<h1>YOU INFORMATION IS NOW EXPOSED!!</h1>
<ol>
    <li>@ViewBag.UserInfo.Name</li>
    <li>@ViewBag.UserInfo.Email</li>
    <li>@ViewBag.UserInfo.Password</li>
    <li>@ViewBag.UserInfo.Age</li>
</ol>