<h2>Shop Items</h2>

<table align="center" class="table table-bordered">
    <tbody>
        <tr>
            <th>Item</th>
            <th>Description</th>
            <th>Price</th>
            <th>Add</th>
        </tr>
        @foreach (var items in ViewBag.ItemsList)
        {
            <tr>
                <td>@items.ItemName</td>
                <td>@items.Description</td>
                <td>@items.Price</td>
                <td><a href="/Home/AddItem?itemName=@items.ItemName">Add Item to Cart</a></td>
            </tr>
        }
    </tbody>
</table>

<form action="RemoveItem">
    <input type="submit" />
</form>