<h2>Enter Email and Password to Login</h2>

<form action="ValidLogin" method="get">
    <p>Email <br /><input type="email" name="Email" placeholder="name@email.com" required /></p>
    <p>Password <br /><input type="password" name="Password"placeholder="password"required /></p>
    <input type="submit" value="Login"/>
</form>