<h2>Would you like to Logout?.</h2>

<form action="Confirmed" method="post">
    <input type="submit" value="Yes" />
</form>

<form action="Index" method="post">
    <input type="submit" value="No" />
</form>