><h2>Register Here!</h2>

<form id="RegForm" action="UserInfo" method="post">
    <ul>
        <li>Name <br /><input type="text" name="Name" placeholder="Name" /></li>
        <li>Email <br /><input type="email" name="Email"placeholder="email@email.com" /></li>
        <li>Password <br /><input type="password" name="Password" placeholder="Password" /></li>
        <li>Age <br /><input type="number" name="Age" placeholder="Age"/></li>
    </ul>
    <input type="submit" value="Register" />
</form>
