><h2>Register Here!</h2>

<form id="RegForm" action="UserInfo" method="post">
    <ul id="Registration">
        <li id="form">Username <br /><input type="text" name="Name" placeholder="Username" /></li><br />
        <li id="form">Email <br /><input type="email" name="Email"placeholder="email@email.com" /></li><br />
        <li id="form">Password <br /><input type="password" name="Password" placeholder="Password" /></li><br />
        <li id="form">Age <br /><input type="number" name="Age" placeholder="Age"/></li>
    </ul>
    <input type="submit" value="Register" />
</form>
